table{ width:100% ;
 }
td{width: 25%;}
.logo{border-left:none; 
    border-right: none;
text-align: center;}
.final{border-left:none; 
    border-right: none;}
    .rt{border-left:none; 
        border-right: none;
    width:25%;}
        
       .zao{width:20px
    }
.width{ width: 20%}
.rere{width: 5%;}


